[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "powerline/powerline"]
	path = powerline/powerline
	url = git@github.com:powerline/powerline.git
[submodule "powerline/fonts"]
	path = powerline/fonts
	url = git@github.com:powerline/fonts.git
[submodule "powerline/powerline-gitstatus"]
	path = powerline/powerline-gitstatus
	url = git@github.com:jaspernbrouwer/powerline-gitstatus.git
[submodule "iterm"]
	path = iterm
	url = https://github.com/dracula/iterm.git
[submodule "github_assistant"]
	path = github_assistant
	url = git@git.innova-partners.com:fflores/github_assistant.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
